name: Actions Healthcheck

on:
  workflow_dispatch:
  schedule:
    - cron: '0,30 0-14 * * *'  # JST 09:00-23:00

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - run: echo "healthcheck bootstrap"
